<!--portfolio component section-->
<section id="portfolio">
  <div class="main-parent">
    <div class="sub-parent">
      <div class="title">
        <h2>PORTFOLIO COMPONENT
          <i class="fa-solid fa-star"></i>
        </h2>
      </div>
      
    
      <div class="my-portfolio-grid">
        <div>
          <img src="/imgs/poert1.png" alt="">
        </div>
        <div>
          <img src="/imgs/port2.png" alt="">
        </div>
        <div>
          <img src="/imgs/port3.png" alt="">
        </div>
        <div>
          <img src="/imgs/poert1.png" alt="">
        </div>
        <div>
          <img src="/imgs/port2.png" alt="">
        </div>
        <div>
          <img src="/imgs/port3.png" alt="">
        </div>
        
      </div>
    </div>
  </div>
</section>

